[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git@github.com:tmhedberg/matchit.git
[submodule "bundle/MatchTag"]
	path = bundle/MatchTag
	url = git@github.com:gregsexton/MatchTag.git
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = git@github.com:mustache/vim-mustache-handlebars.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "bundle/scss-syntax"]
	path = bundle/scss-syntax
	url = git@github.com:cakebaker/scss-syntax.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = git@github.com:tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "bundle/vim-better-whitespace"]
	path = bundle/vim-better-whitespace
	url = git@github.com:ntpeters/vim-better-whitespace.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = git@github.com:Lokaltog/vim-easymotion.git
[submodule "bundle/vim-expand-region"]
	path = bundle/vim-expand-region
	url = git@github.com:terryma/vim-expand-region.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = git@github.com:xolox/vim-session.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "bundle/vim-hardtime"]
	path = bundle/vim-hardtime
	url = https://github.com/takac/vim-hardtime
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "bundle/vim-jsdoc"]
	path = bundle/vim-jsdoc
	url = git@github.com:heavenshell/vim-jsdoc.git
[submodule "bundle/vim-CamelCaseMotion"]
	path = bundle/vim-CamelCaseMotion
	url = git@github.com:bkad/CamelCaseMotion.git
[submodule "bundle/vim-textobj-indent"]
	path = bundle/vim-textobj-indent
	url = git@github.com:kana/vim-textobj-indent.git
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = git@github.com:kana/vim-textobj-user.git
[submodule "bundle/vim-textobj-line"]
	path = bundle/vim-textobj-line
	url = git@github.com:kana/vim-textobj-line.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "bundle/vim-textobj-pastedtext"]
	path = bundle/vim-textobj-pastedtext
	url = git@github.com:saaguero/vim-textobj-pastedtext.git
[submodule "bundle/vim-signature"]
	path = bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "/home/blaze/.vim/bundle/incsearch.vim"]
	path = /home/blaze/.vim/bundle/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim
[submodule "/home/blaze/.vim/bundle/incsearch-easymotion.vim"]
	path = /home/blaze/.vim/bundle/incsearch-easymotion.vim
	url = https://github.com/haya14busa/incsearch-easymotion.vim
[submodule "bundle/vim-yankstack"]
	path = bundle/vim-yankstack
	url = git@github.com:maxbrunsfeld/vim-yankstack.git
[submodule "bundle/vim-repmo"]
	path = bundle/vim-repmo
	url = git@github.com:Houl/vim-repmo.git
[submodule "/home/blaze/.vim/bundle/vim-javascript"]
	path = /home/blaze/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "/home/blaze/.vim/bundle/vim-bufferline"]
	path = /home/blaze/.vim/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
